body { scroll-behavior: smooth;}
.card-title {letter-spacing: .3px;}

input[type=text], input[type=password], input[type=email], select, textarea {
    display:block;
    width:100%;
    padding:.375rem .75rem;
    border:1px solid #ced4da;   
    border-radius: .375rem;
}